RewriteEngine on

# Login
RewriteRule   ^add$    		    index.php?route=add  [NC]
RewriteRule   ^edit$    		index.php?route=edit  [NC]
RewriteRule   ^delete$    		index.php?route=delete [NC]
RewriteRule   ^list$    		index.php?route=list [NC]
RewriteRule   ^listAll$    		index.php?route= [NC]

RewriteRule   ^xml$    		    index.php?route=xml  [NC]
RewriteRule   ^json$    		index.php?route=json  [NC]

RewriteRule   ^reload$    		reload.php  [NC]


# The error pages
# Redirection of the error pages
RewriteRule   ^error$         index.php?error=true  [NC]
ErrorDocument 404  /techraSystems/workingOn/lodur/error
ErrorDocument 403  /techraSystems/workingOn/lodur/error
ErrorDocument 400  /techraSystems/workingOn/lodur/error

# Security
    Header add Content-Security-Policy "default-src 'self' ; style-src 'self'; font-src 'self'; object-src 'self'; "

   <IfModule mod_headers.c>
    	 Header set X-XSS-Protection "1; mode=block"
    	 Header always append X-Frame-Options SAMEORIGIN
    	 Header set X-Content-Type-Options nosniff
   </IfModule>

Header add Cache-Control: max-age=31536000;
#max-age=31536000

Header add Strict-Transport-Security: max-age=63072000;