
@font-face {
    font-family: thistFont;
    src: url('fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: normal;
    font-display: swap;
}
  
@font-face {
    font-family: thisFont;
    src: url('fonts/Montserrat/Montserrat-Bold.ttf');
    font-weight: bold;
    font-display: swap;
}

html {
    background-color:rgb(211, 250, 254);
    font-family: thisFont;
    font-family:sans-serif;
}

h1 {
    color: rgb(39, 108, 117);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
}

.mainWrapper {
    background-color:rgb(211, 250, 254);
    padding-top: 100px;
}

.header {
    background-color: rgb(107, 198, 211);
    border-bottom: black 2px solid;
    color: white;
    height: 80px;
    left: 0;
    min-width: 250px;
    padding-top: 1%;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
}

.header a {
    text-decoration: none;
    color: rgb(18, 58, 63);
    font-size: 1.2em;
    padding: 0.5%;

}

.form {
    background-color: #87dde9;
    border-radius: 24px;
    color: #276c75;
    font-size: 1.1em;
    margin: 0 auto;
    max-width: 500px;
    min-width: 250px;
    padding: 3%;
    width: 94%;
}

.footer {
    background-color: rgb(107, 198, 211);
    border-top: black 2px solid;
    bottom: 0px;
    color: rgb(18, 58, 63);
    height: 40px;
    padding-top: 0.5%;
    position: fixed;
    text-align: center;
    width: 100%;
}

input:focus, textarea:focus, select:focus{
    outline: none;
    background-color:#a4e7e9;
}

input[type=text] {
    background-color: #a4e7e9;
    border-radius: 24px;
    box-sizing: border-box;
    color: black;
    font-size: 1.1em;
    margin: 8px 0;
    /* max-width: 350px; */
    padding: 12px 20px;
    width: 100%;
}

select {
    background-color:  #a4e7e9;
    border-radius: 24px;
    box-sizing: border-box;
    color: black;
    margin: 8px 0;
    /* max-width: 350px; */
    padding: 12px 20px;
    width: 100%;
}

.btn1 {
    background-color: rgb(107, 198, 211);
    border-color: white;
    border-radius: 24px;
    /* border-radius: 10px; */
    color: color;
    cursor: pointer;
    /* font-weight: bold; */
    font-size: 1em;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
}

.section1 {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.feedback {
    /* background-color: #87dde9; */
    border-radius: 24px;
    color: black;
    margin: 0 auto;
    max-width: 500px;
    padding: 3%;
    padding-bottom: 15%;
    width: 94%;

    text-transform: uppercase;
    text-align: center;

}

table {
    border-collapse: collapse;
    /* border: solid white 2px; */
    width: 100%;
  }

  th {
    height: 60px;
  }

  td {
    height: 30px;
    vertical-align: bottom;
  }
  
  td, th {
    /* border: solid #6bc6d3 2px; */
    /* background-color: grey; */
    border-bottom: 1px solid #53a6b1;
    font-weight: normal;
    text-align: left;
    padding: 8px;
    
  }
  
  tr:nth-child(even) {
    background-color:rgb(182, 230, 239);
  }

  tr:hover {
    background-color: white;
    color: rgb(103, 34, 11); 
  }
  
  .productTable {
    width: 100%;
  }
  
  .tableWrap1 {
    /* max-width: 500px; */
    margin: 0 auto;
    overflow: auto;
  }

  .first {
    background-color: #53a6b1;
    color: white;
  }

  .first:hover {
    background-color: #53a6b1;
    color: white;
  }

  .result {
    overflow-x: auto;
    max-width: 800px;
    margin: 0 auto;
  }